.page-spacer {
  margin-top: 170px;
}

.home-header {
  font-weight: 800;
}

.deed-div {
  min-height: 450px;
}

.no-top-margin {
  margin-top: -170px;
}

.half-screen {
  width: 50%;
}

.mt-50 {
  margin-top: 50px;
}

.overlay {
  z-index: 1000;
}